{
    :rotate 30
    :scale 50
    :offboard-colors ["green" "brown" "lightgrey"]
    :offboard-pos [["e3" "d6" "c9" "b12"]]
    :tiles [
            { :pos "a5"  :tile "t7"   :orient 2 :color "red" :overlay-punch {"g5" ["whiteanchor"] "d14" ["pinkanchor"]} :label ["20" "40" "50"]}
            { :pos "a7"  :tile "t7"   :orient 2 :color "grey"}
            { :pos "a21" :tile "t506" :orient 2 :color "red" :overlay-punch {"g5" ["pinkanchor"] "d14" ["whiteanchor"]} :label ["20" "40" "60"] :label2 {["f8" "e11"] "East"}}
            { :pos "b2"  :tile "t500" :orient 0 }
            { :pos "b4"  :tile "t500" :orient 0 }
            { :pos "b6"  :tile "t500" :orient 0 }
            { :pos "b8"  :tile "ttoledo" :orient 0 :station {"g7" ["T_IR.svg"], "f12" ["E_K.svg"]} :overlay-punch {"b10" ["pinkanchor"]}}
            { :pos "b18" :tile "t501" :orient 0 :overlay-punch {"e5" ["pinkanchor"]}}
            { :pos "b20" :tile "t503" :orient 0 :station {"e9" ["ASH.svg"]} :overlay-punch {"e5" ["pinkanchor"]}}
            { :pos "b22" :tile "t39"  :orient 3 :color "grey"}
            { :pos "c1"  :tile "t507" :orient 0 :label ["20" "50" "60"] :label2 { ["d4" "c7"] "West"} :color "red" }
            { :pos "c3"  :tile "t500" :orient 0 }
            { :pos "c5"  :tile "t500" :orient 0 }
            { :pos "c7"  :tile "t500" :orient 0 }
            { :pos "c9"  :tile "t500" :orient 0 }
            { :pos "c11" :tile "tsandusky" :orient 0 :station {"g11" ["MRLE.svg"] "d12" ["SC_I.svg"]} :overlay-punch {"c7" ["pinkanchor"]}}
            { :pos "c13" :tile "t500" :orient 0 }
            { :pos "c15" :tile "t501" :orient 0 :overlay-punch {"g11" ["pinkanchor"]}}
            { :pos "c17" :tile "t6Y"  :orient 4 :station {"e9" ["CCC.svg"]} :overlay-punch {"g11" ["pinkanchor"]}}
            { :pos "c19" :tile "t500" :orient 0 }
            { :pos "c21" :tile "t500" :orient 0 }
            { :pos "d2"  :tile "t500" :orient 0 }
            { :pos "d4"  :tile "t501" :orient 0 }
            { :pos "d6"  :tile "t503" :orient 0 }
            { :pos "d8"  :tile "t500" :orient 0 }
            { :pos "d10" :tile "t500" :orient 0 }
            { :pos "d12" :tile "t501" :orient 0 }
            { :pos "d14" :tile "t500" :orient 0 }
            { :pos "d16" :tile "thudson" :orient 0 :station {"f12" ["CPIT.svg"]} }
            { :pos "d18" :tile "t503" :orient 0 :overlay {"g9" ["twater2" 20]} }
            { :pos "d20" :tile "t503" :orient 0 :station {"e9" ["C_MA.svg"]} :overlay {"g9" ["twater2" 20]} }
            { :pos "e3"  :tile "t500" :orient 0 }
            { :pos "e5"  :tile "t500" :orient 0 }
            { :pos "e7"  :tile "t500" :orient 0 }
            { :pos "e9"  :tile "t501" :orient 0 }
            { :pos "e11" :tile "t500" :orient 0 }
            { :pos "e13" :tile "t500" :orient 0 }
            { :pos "e15" :tile "t500" :orient 0 }
            { :pos "e17" :tile "t503" :orient 0 :station {"e9" ["MAS.svg"]} }
            { :pos "e19" :tile "t501" :orient 0 }
            { :pos "e21" :tile "t500" :orient 0 }
            { :pos "f2"  :tile "t12"  :orient 0 :color "grey" :label {["e3" "d6"] "West"}}
            { :pos "f4"  :tile "t501" :orient 0 }
            { :pos "f6"  :tile "t500" :orient 0 }
            { :pos "f8"  :tile "t500" :orient 0 }
            { :pos "f10" :tile "t501" :orient 0 }
            { :pos "f12" :tile "tmans" :orient 0 }
            { :pos "f14" :tile "t500" :orient 0 }
            { :pos "f16" :tile "t500" :orient 0 }
            { :pos "f18" :tile "t500" :orient 0 }
            { :pos "f20" :tile "t503" :orient 0 :station {"e9" ["STE.svg"]} :overlay {"g9" ["tmountain2" 20]} }
            { :pos "g3"  :tile "t500" :orient 0 }
            { :pos "g5"  :tile "t503" :orient 0 }
            { :pos "g7"  :tile "t500" :orient 0 }
            { :pos "g9"  :tile "t500" :orient 0 }
            { :pos "g11" :tile "t500" :orient 0 }
            { :pos "g13" :tile "t500" :orient 0 }
            { :pos "g15" :tile "t501" :orient 0 }
            { :pos "g17" :tile "t500" :orient 0 }
            { :pos "g19" :tile "t500" :orient 0 :overlay {"e9" ["tmountain2" 20]}}
            { :pos "g21" :tile "t507" :orient 3 :color "red" :overlay-punch {"f12" ["greenanchor"]} :label ["30" "40" "50"] :label2 {["c11" "b14"] "East"}}
            { :pos "h2"  :tile "t501" :orient 0 }
            { :pos "h4"  :tile "t500" :orient 0 }
            { :pos "h6"  :tile "t501" :orient 0 }
            { :pos "h8"  :tile "t500" :orient 0 }
            { :pos "h10" :tile "t6Y"  :orient 1 :station {"e9" ["COPI.svg"]} }
            { :pos "h12" :tile "t500" :orient 0 }
            { :pos "h14" :tile "t500" :orient 0 }
            { :pos "h16" :tile "t503" :orient 0 :station {"e9" ["COR.svg"]} }
            { :pos "h18" :tile "t500" :orient 0 }
            { :pos "h20" :tile "t500" :orient 0 :overlay {"e9" ["tmountain2" 20]}}
            { :pos "i1"  :tile "t39"  :orient 0 :color "grey"}
            { :pos "i3"  :tile "t500" :orient 0 }
            { :pos "i5"  :tile "t503" :orient 0 :station {"e9" ["D_U.svg"]} :overlay {"g9" ["twater2" 20]}}
            { :pos "i7"  :tile "t503" :orient 0 :station {"e9" ["DXB.svg"]} :overlay {"g9" ["twater2" 20]}}
            { :pos "i9"  :tile "t500" :orient 0 }
            { :pos "i11" :tile "t500" :orient 0 :overlay {"e9" ["twater2" 20]}}
            { :pos "i13" :tile "t500" :orient 0 }
            { :pos "i15" :tile "t500" :orient 0 }
            { :pos "i17" :tile "t500" :orient 0 }
            { :pos "i19" :tile "t500" :orient 0 :overlay {"e9" ["twater2" 20]}}
            { :pos "j2"  :tile "t501" :orient 0 }
            { :pos "j4"  :tile "tfranklin" :orient 0 :station {"d6" ["F_W.svg"]} }
            { :pos "j6"  :tile "tmorrow" :orient 0 :station {"g9" ["CWZ.svg"]} }
            { :pos "j8"  :tile "t500" :orient 0 }
            { :pos "j10" :tile "t503" :orient 0 }
            { :pos "j12" :tile "t500" :orient 0 }
            { :pos "j14" :tile "t501" :orient 0 }
            { :pos "j16" :tile "t500" :orient 0 }
            { :pos "j18" :tile "t503" :orient 0 :overlay {"g9" ["tmountain2" 20]} :overlay-punch {"e5" ["greenanchor"]}}
            { :pos "k1"  :tile "t505" :orient 1 :color "red" :overlay-punch {"g7" ["greenanchor"]} :label ["30" "50" "60"] :label2 {["g11" "f14"] "West"}}
            { :pos "k3"  :tile "tcincin" :orient 0 :station {"d5" ["C_IR.svg"] "c8" ["CHD.svg"] "d12" ["LMC.svg"] } :overlay-punch {"h6" ["greenanchor"]}}
            { :pos "k5"  :tile "t500" :orient 0 }
            { :pos "k7"  :tile "t500" :orient 0 }
            { :pos "k9"  :tile "t500" :orient 0 }
            { :pos "k11" :tile "t500" :orient 0 :overlay {"d9" ["twater2" 20]}}
            { :pos "k13" :tile "t500" :orient 0 }
            { :pos "k15" :tile "t500" :orient 0 }
            { :pos "k17" :tile "t5TP" :orient 0 :station {"e9" ["M_C.svg"]} :overlay-punch {"g7" ["greenanchor"] "g11" ["whiteanchor"]}}
            { :pos "k19" :tile "t506" :orient 4 :color "red" :overlay-punch {"g9" ["greenanchor"]} :label ["30" "40" "50"]}
            { :pos "l4"  :tile "t500" :orient 0 }
            { :pos "l6"  :tile "t500" :orient 0 }
            { :pos "l8"  :tile "t500" :orient 0 }
            { :pos "l10" :tile "t15"  :orient 4 :station {"e9" ["SHV.svg"]} :color "grey" :overlay-punch {"h10" ["greenanchor"] "g13" ["whiteanchor"]}}
            { :pos "l12" :tile "t500" :orient 0 }
            { :pos "l14" :tile "t501" :orient 0 :overlay-punch {"g11" ["greenanchor"]}}
            ]
  :companies [
              {:name "C&MA" :token "C_MA.svg"}
              {:name "T&IR" :token "T_IR.svg"}
              {:name "E&K"  :token "E_K.svg"}
              {:name "SC&I" :token "SC_I.svg"}
              {:name "MRLE" :token "MRLE.svg"}
              {:name "CCC"  :token "CCC.svg"}
              {:name "ASH"  :token "ASH.svg"}
              {:name "CPIT" :token "CPIT.svg"}
              {:name "MAS"  :token "MAS.svg"}
              {:name "STE"  :token "STE.svg"}
              {:name "COPI" :token "COPI.svg"}
              {:name "COR"  :token "COR.svg"}
              {:name "D&U"  :token "D_U.svg"}
              {:name "DXB"  :token "DXB.svg"}
              {:name "F&W"  :token "F_W.svg"}
              {:name "CWZ"  :token "CWZ.svg"}
              {:name "C&IR" :token "C_IR.svg"}
              {:name "CHD"  :token "CHD.svg"}
              {:name "LMC"  :token "LMC.svg"}
              {:name "SHV"  :token "SHV.svg"}
              {:name "M&C"  :token "M_C.svg"}
              ]
  :transform-track {}
  :track-list {
  ;track-simple
                "t500" {}
                "t7"   {"#." 4}
                "t8"   {"#." -1}
                "t9"   {"#." -1}
                "t27"  {"#." 1}
                "t30"  {"#." 1}
                "t31"  {"#." 1}
                "t26"  {"#." 1}
                "t28"  {"#." 1}
                "t29"  {"#." 1}
                "t18"  {"#." 1}
                "t24"  {"#." 2}
                "t25"  {"#." 2}
                "t16"  {"#." 1}
                "t19"  {"#." 1}
                "t23"  {"#." 2}
                "t20"  {"#." 1}
                "t39"  {"#." 1}
                "t40"  {"#." 1}
                "t42"  {"#." 1}
                "t41"  {"#." 1}
                "t43"  {"#." 1}
                "t44"  {"#." 1}
                "t45"  {"#." 1}
                "t46"  {"#." 1}
                "t47"  {"#." 1}
                "t60"  {"#." 1}
;track-city
                "t503" {}
                "t5"   {"#." 2}
                "t6"   {"#." 4}
                "t12"  {"#." 1}
                "t13"  {"#." 1}
                "t57"  {"#." 5}
                "t14"  {"#." 5}
                "t15"  {"#." 5}
                "t15TP"  {"#." 1 "from" "t15" "t." ["TP" "h6"] }
                "t611" {"#." 3}
                "t63"  {"#." 2}
                "t51"  {"#." 3 "me9" ["d6" "e9"]}
;track-dits
                "t501" {}
                "t3"   {"#." 2}
                "t58"  {"#." 5}
                "t4"   {"#." 5}
                "t88"  {"#." 1}
                "t143" {"#." 1}
                "t142" {"#." 1}
                "t141" {"#." 1}
                "t145" {"#." 1}
                "t146" {"#." 1}
                "t147" {"#." 1}

; map and special tiles
                "t505" {}
                "t506" {}
                "t507" {}
                 "ttoledo"   {"p." 1  "t." ["TP" "c11"] "cf12" [2 5] "cg7" [3 5] "vf12" [20] "vg7" [20]}
                 "tsandusky" {"p." 2  "cg11" [2 3] "cd12" [1] "cf6" [4] "vg11" [20] "vd12" [20] "vf6" [20] "t." ["S" "h12"]}
                 "thudson"   {"p." 3  "t." ["city"] "cf12" [2 "e9"] "vf12" [20] ".e9" [0 1 3 4]}
                 "tfranklin" {"p." 3  "t." ["city"] "cd6" [5 "e9"] "vd6" [10] ".e9" [0 2 3]}
                 "tmorrow"   {"p." -2 "t." ["city"] "cg9" [3 "e9"] "vg9" [10] ".e9" [0 1 2 5]}
                 "tcincin"   {"p." 1  "t." ["C" "h10"] "cd5" [4 5] "cc8" [0 4] "cd12" [1 4] "cf12" [2 4] "vd5" [20] "vc8" [20] "vd12" [20] "vf12" [20]}
                 "tcincinG"  {"p." 2  "t." ["C" "h10"] "cd5" [4 5] "cc8" [0 4] "cd12" [1 4] "cf12" [2 4] "vd5" [30] "vc8" [30] "vd12" [30] "vf12" [30] "#." 1}
                 "tcincinB"  {"p." 3  "t." ["C" "h10"] "cd5" [4 5] "cc8" [0 4] "cd12" [1 4] "cf12" [2 4] "vd5" [60] "vc8" [60] "vd12" [60] "vf12" [60] "#." 1}
                 "tcincinR"  {"p." 4  "t." ["C" "h10"] "me9" ["cd5" "cc8" "cd12" "cf12"] "ce9" [0 1 2 4 5] "re9" ["f6" "d8" "f10" "d12"] "ve9" [70]  "#." 1}
                 "tmans"     {"p." -2 "cf6" [3 4 5] "cd12" [0 1 2] "vf6" [30] "vd12" [20]}
                 "t6Y"       {"p." 1  "ce9" [0 2] "re9" ["d10"] "t." ["Y" "h12"]}
                 "t622"      {"p." 2  "ce9" [0 1 2 4] "re9" ["f8" "d10"] "ve9" [40 "e14"] "t." ["Y" "h12"] "#." 1}
                 "t367"      {"p." 3  "ce9" [0 1 2 3 4] "re9" ["f8" "d10"] "ve9" [50 "e14"] "t." ["Y" "h12"] "#." 2}
                 "t213"      {"p." 4  "ce9" [0 1 2 3 5] "re9" ["f8" "d10"] "ve9" [60 "e14"] "t." ["Y" "f6"]}
                 "t169"      {"p." 3  "ce9" [0 1 2 3] "re9" ["f7" "f11" "d9"] "ve9" [50 "e14"] "t." ["S" "h12"] "#." 1}
                 "t5TP"      {"p." 2  "ce9" [0 1] "re9" ["c11"] "ve9" [40 "e14"] "t." ["TP" "f6"] "#." 2}
                 "t984"      {"p." 3  "ce9" [0 1 2 3] "re9" ["f8" "d10"] "ve9" [50 "e14"] "t." ["TP" "f6"] "#." 2}
                 }}
